*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
p::first-line{
    color: blue;
    font-variant: small-caps;
}
p::first-letter{
    color:brown;
    font-variant: small-caps;
}
p::first-line{
    color: cornflowerblue;
    font-variant: small-caps;
    font-size: 50px;
}
p.natural::first-letter{
    color: darkgreen;
    font-variant: small-caps;
    font-size: 50px;
}
p.final::after{
    content: "se lo lleva la corriente";
}